/* Home page CSS */
.NavbarContainer {
  min-height: 100vh;
  background-color: #dddddd;
  display: flex;
}

p {
  margin-bottom: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

/* Left Sider bar CSS */
.sidebarOuter {
  font-family: "Montserrat", sans-serif;
  width: 30%;
  padding: 40px 40px;
  color: white;
}

/* Right Section Outer CSS */
.Rightdivouter {
  width: 70%;
}

/* Left Sidebar CSS */
.sidebar {
  min-height: 100%;
  background-color: black;
  padding: 20% 0px 20% 15%;
  border-radius: 30px;
}

.sidebar .bottomTag {
  margin: 0;
  bottom: 100px;
  position: absolute;
}

.sidebar .listitems li {
  text-decoration: none;
  list-style: none;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.sidebar .bottomTag li {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.siderbar .listitem {
  text-decoration: none;
  margin-bottom: 40px;
}

.sidebarHeading {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 700;
}

/* Navbar section CSS */
.Navbar {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 4% 2% 2% 2%;
}
.NavBarHeading {
  font-size: 24px;
  font-weight: 700;
}
.NavbarRight {
  display: flex;
  align-items: center;
}
.SearchBar input {
  height: 30px;
  background-color: white;
  border-radius: 10px;
  border: 0px;
  padding: 5px 10px;
  font-size: 14px;
  color: #b0b0b0;
}
.ProfileIcon {
  border-radius: 50%;
}
select {
  color: black;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  color: black;
  background-color: transparent;
  border: none;
}
.dropdown-menu {
  padding: 0px;
}
.NotificationIcon {
  margin-left: 30px;
}
.SearchIcon {
  height: 10px;
  width: 10px;
}

/* Cards section css */
.CardsContainer {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card {
  margin: 2%;
  padding: 2%;
  width: 33%;
  height: 120px;
  background-color: aquamarine;
  text-align: right;
  border-radius: 20px;
}
.CardDetail {
  text-align: left;
}
.Card .CardHeading {
  font-size: 14px;
  margin-bottom: 5px;
}
.Card .CardSubHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

/* Graph section css */
.GraphContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  background-color: white;
}
.Graph {
  width: 100%;
  height: 300px;
}
.GraphDetails {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin-bottom: 20px;
}
.GraphDetails .BarGraphHeading {
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.GraphLegend {
  display: flex;
  width: 200px;
}
.Legend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.Circle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 13px;
}

/* Details section css */
.DetailsContainer {
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.ProductsCard {
  width: 50%;
  margin: 2%;
  padding: 3% 4%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ProductDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ProductDetail .ProductHeading {
  font-size: 18px;
  font-weight: 700;
}

.ProductDetail .ProductTime {
  font-size: 12px;
}

.PieGraphContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

/* Pie Graph CSS */
.PieGraph {
  width: 60%;
  height: 200px;
}

.PieGraphLegend {
  width: 40%;
}

.PieGraphListOuter .PieGraphList {
  display: flex;
  margin-bottom: 20px;
}
.PieGraphListOuter .Dot {
  margin-top: 4px;
  height: 11px;
  width: 11px;
  background-color: #98d89e;
  border-radius: 50%;
}
.PieGraphListOuter .PieGraphList .PieGraphListHeading {
  font-size: 14px;
  font-weight: 700;
}

.PieGraphListOuter .PieGraphList .PieGraphListSubHeading {
  font-size: 12px;
}

.ScheduleCard {
  width: 50%;
  margin: 2%;
  padding: 3% 4%;
  background-color: white;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}

.ScheduleCard .ScheduleCardHeading {
  font-size: 18px;
  font-weight: 700;
}
.ScheduleCard .ViewAll {
  font-size: 12px;
  font-weight: 400;
}

.MeetingOuter {
  font-family: "Lato", sans-serif;
}

.MeetingList {
  display: flex;
  margin-bottom: 13px;
}

.MeetingOuter .vl {
  border-left: 5px solid #9bdd7c;
  height: 70px;
  margin-right: 15px;
}

.MeetingOuter p {
  margin-bottom: 5px;
}

.MeetingOuter .MeetTitle {
  font-size: 14px;
  font-weight: 700;
}

.MeetingOuter .MeetTiming {
  font-size: 12px;
}

.MeetingOuter .MeetVenue {
  font-size: 12px;
}

/* Media Query CSS below 1200px*/
@media only screen and (max-width: 1200px) {
  .NavbarContainer {
    display: block;
  }
  .sidebarOuter {
    display: none;
  }
  .CardsContainer {
    flex-wrap: wrap;
  }
  .Rightdivouter {
    width: 100% !important;
  }
}

/* Media Query CSS below 700px*/
@media only screen and (max-width: 700px) {
  .Navbar {
    flex-direction: column;
  }
  .DetailsContainer {
    flex-direction: column;
  }
  .ProductsCard {
    width: 95%;
  }
  .ScheduleCard {
    width: 95%;
  }
  .Card .CardSubHeading {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
  .NavBarHeading {
    margin: 10px auto;
  }
  .CardsContainer {
    margin: 40px 0px;
  }
  .NavbarRight {
    justify-content: center;
  }
  .GraphContainer {
    margin: 5% 2%;
  }
  .ProductsCard {
    margin: 5% 2%;
  }
}
